.dashboard-container {
    margin: 40px;;
}
.daterange-filter {
    margin-top: 20px;
    margin-bottom: 4px;
    display: flex;
    justify-content: center;
}
.reset, .update-results {
    margin-left: 20px;
    height: 52px;
}