.my-wrapper {  
    white-space: normal !important; 
    padding: 20px;
    background: lightblue
}
h1 {
    margin: 0
}
.loading {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}