<div class="my-wrapper" #mywrap>
    <div class="loading" *ngIf="!isApiLoaded">Loading...</div>
    <div *ngIf="isApiLoaded && !isTableError">
    <h1 style="padding: 20px;">My Custom Detail</h1>
    <div>randomId: {{randomId}}</div>
    <div>Test Data</div>
    <div>Title: {{ data.title }}</div>
    <div>Body: {{data.body}}</div>
    <div>Lorem Data: {{loremData}}</div>
    <div style="color: green">Completed</div>
    </div>
    <div *ngIf="isApiLoaded && isTableError">
      <h1 style="padding: 20px;">My Custom Detail</h1>
    <div>randomId: {{randomId}}</div>
    <div>API Retrival Error Created</div>
    <div style="color: green">Completed</div>
    </div>    
</div>

