.list-view {
    margin-left: 20px;
}
.nav-bar {
    margin: 40px;
    display: flex;
    align-items: center;
}
.app-name {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}
.body-container {
    margin-bottom: 80px;
}