/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import '@ag-grid-community/core/dist/styles/ag-grid.css';
@import '@ag-grid-community/core/dist/styles/ag-theme-alpine.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #f4f3f3; max-width: 1100px; }
.ag-theme-alpine .ag-cell {
    display: flex;
    align-items: center;
}
.ag-root-wrapper {
    border-radius: 10px;
}